@import "https://cdn.jsdelivr.net/npm/hack-font@3/build/web/hack.css";
@import "https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira Code";
}

html,
body {
  height: 100%;
}

body {
  background-color: #131313;
  color: #fff;
  padding: 20px 0;
  min-height: 100vh;
  height: fit-content;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
}
::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 0;
  background: transparent;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px;
  padding-bottom: 10px;
  border: 1px solid #313131;
  /* background-color: #181818; */
  min-height: calc(100vh - 40px);
  border-radius: 32px;
}

pre[class*="language-"] {
  margin: 20px 0;
  padding: 20px;
  /* border: 1px solid #313131; */
  border-radius: 0;
  font-style: italic;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background-color: transparent;
  border: 1px solid #313131;
}

code[class*="language-"],
pre[class*="language-"] {
  font-size: 16px;
  font-family: "Fira Code";
  line-height: 2;
}

h1 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 30px;
}

h2 {
  font-size: 22px;
  margin-bottom: 20px;
  position: relative;
}

h3 {
  font-size: 19px;
  margin-bottom: 20px;
  position: relative;
}

h4 {
  margin-bottom: 20px;
}

ul,
ol {
  margin-bottom: 20px;
  margin-top: 10px;
}

ul > li {
  list-style: none;
  padding-left: 20px;
  position: relative;
  line-height: 2;
}

ol {
  list-style: decimal;
}

ol > li {
  margin-left: 33px;
  margin-top: 10px;
  line-height: 2;
}

ol > li::marker {
  color: #ff0000;
  float: left;
  font-weight: 600;
}

strong {
  font-size: 18px;
}

ul > li + li {
  margin-top: 10px;
}

ul > li::before {
  content: "";
  position: absolute;
  top: 12.5px;
  left: 0;
  width: 7px;
  height: 7px;
  background-color: #ff0000;
  border-radius: 100%;
}

p {
  margin: 20px 0;
  line-height: 2;
}

p code {
  color: #ff0000;
  font-style: italic;
}

table {
  border-spacing: 0;
  margin-bottom: 15px;
  width: 100%;
  /* background-color: rgba(0, 0, 0, 0.1); */
  /* border-radius: 10px; */
  overflow: hidden;
}

td,
tr,
th {
  border: 1px solid #313131;
  padding: 8px 10px;
  border-right: 0;
  border-bottom: 0;
  text-align: left;
}

table thead tr th {
  border-top: 0;
}

table thead tr th:nth-child(1) {
  border-left: 0;
}

table tbody tr td:nth-child(1) {
  border-left: 0;
}

blockquote {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 0;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  color: #fff;
}

blockquote p {
  margin: 0;
  font-style: italic;
}

blockquote::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: #ff0000;
}

/* .token.constant,
.token.deleted,
.token.property,
.token.symbol,
.token.tag {
  color: #444;
} */

.container-header {
  border-bottom: 1px solid #313131;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.container-header h2 {
  margin-bottom: 5px;
  color: #fff;
}

.container-header p {
  font-size: 14px;
  color: #aaa;
  opacity: 0.9;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  /* font-style: italic; */
}

pre code.hljs {
  font-style: italic;
}

.nav,
.home {
  position: fixed;
  bottom: 20px;
  right: calc((100% - 1000px) / 2 - 70px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
}

.home {
  width: 50px;
  height: 50px;
  left: calc((100% - 1000px) / 2 - 70px);
  border: 1px solid #313131;
  cursor: pointer;
  user-select: none;
  color: #fff;
  border-radius: 100%;
  line-height: 50px;
  text-align: center;
  bottom: 50%;
  transform: translateY(50%);
}

.nav-prev,
.nav-next {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  line-height: 50px;
  text-align: center;
  font-size: 14px;
  border: 1px solid #313131;
  cursor: pointer;
  user-select: none;
  color: #fff;
}

.nav-prev:active,
.nav-next:active {
  opacity: 0.8;
}

img {
  max-width: 600px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #fff;
}


.img__preview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.img__preview img {
  max-width: 80%;
  max-height: 80%;
}

.img__preview span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.img__preview span svg {
  width: 18px;
  height: 18px;
}

#imgClose {
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  transition: 0.5s;
  background-color: rgba(255,255,255,0.2);
}

#imgClose:hover {
  opacity: 0.6;
  transition: 0.5s;
}
